extends layouts/base.pug

block content
    main
        if edit
            h1.text_center Edit Task
        else
            h1.text_center Assign Task
        form(method='POST', action=(edit ? '/admin/edit-complete':'/admin/assigned'))
            label select project
            select(name='project')
                each project in projects
                    option(onclick='getUsers(this)' value=project.id) #{project.project}
            br
            div(id='user_select_div').hide
                label select user to assign task
                select(id='user_select', name='user-id')
            br
            label Today's Task
            input(type='text' name='task' value=(edit ? task.task : ''))
            br
            label Reference
            input(type='text' name='reference' value=(edit ? task.reference : ''))
            br
            input(type='hidden' name='id' value=(edit ? task.id : ''))
            button(type="submit") Submit
        script(type="text/javascript", src='/js/listProjectUser.js')