extends layouts/base.pug

block content
    main
        script(type="text/javascript", src='/js/listProjectUser.js')
        if edit
            h1 Edit Task
        else
            h1 Assign Task
        form(method='POST', action=(edit ? '/admin/edit-complete':'/admin/assigned'))
            label select user
            select(name='user-id')
                each user in users
                    option(value=user.id) #{user.name}
            br
            label select project
            select(name='project')
                each project in projects
                    option(value=project.id) #{project.project}
            br
            label Today's Task
            input(type='text' name='task' value=(edit ? task.task : ''))
            br
            label Reference
            input(type='text' name='reference' value=(edit ? task.reference : ''))
            br
            input(type='hidden' name='id' value=(edit ? task.id : ''))
            button(type="submit") Submit
