extends layouts/base.pug

block content
    main
        h1 Task Assigned
        table
            tr
                th user
                th tasks
            each task in task_added
                tr
                    td #{task.user}
                    td #{task.task}
