<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">users</a></li>
                <li><a href="/admin/add-task">add task</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Task assigned</h1>
    </main>
</body>
</html>