extends layouts/base.pug

block content
    main
        h1 Task Assigned
        table
            tr
                th user
            each user in users
                tr
                    td #{user.name}
                    td
                        a(href='/admin/user/tasks/' + user.id) Tasks
