extends layouts/base.pug

block content
    main
        h1 Task Assigned for #{task_added[0].user.name}
        table
            tr
                th tasks
                th start-date
                th status
                th details
                th action
            each task in task_added
                tr
                    td #{task.task}
                    td #{task.start_date}
                    if task.status==0
                        td not-started
                    else
                        td started
                    if task.status == 0
                        td
                            a(href='/admin/started/' +task.id) start
                    else if task.status == 1
                        td
                            a(href='/admin/completed/' +task.id) complete
                    else
                        td finished
                    td
                        a(href='/admin/details/' + task.id) details
