extends layouts/base.pug

block content
    main
        h1 Users
        table
            tr
                th user
                th email
            each user in users
                tr
                    td #{user.name}
                    td #{user.email}
                    td
                        a(href='/admin/user-detail/' + user.id) details
